{% extends "inventory_managementsentials/base.html" %}
{% block title %}Beamer Übersicht{% endblock %}
{% block content %}

    <div class="container">
        <header>
            <div class="editor-indent" style=" margin-right: 50px">
                <div class="inner">
                    <h1>Beamer Übersicht </h1>
                </div>
            </div>
        </header>
    <div>
        <form method="GET" action="/beamer/all">
                <input type="text" name="beamer_description" placeholder="Beamer Bezeichnung">
                <button type="submit" class="btn btn-primary">Suchen</button>
                <a href='/add/beamer/' class="btn btn-primary" style="float:right">Beamer hinzufügen</a>
            </form>
    </div>
        <div class="whatever_else_you_need">
            {% if beamer_list %}
                {% for beamer in beamer_list %}
                    <div class="list-group">
                        <br>
                        <h4 class="list-group-itemlist-group-item-action active">Beamer {{ beamer.description }}</h4>
                        <a class="list-group-item list-group-item-action"><strong>Anschlüsse:</strong>
                            {% if beamer.HDMI %}HDMI,{% endif %}
                            {% if beamer.VGA %}VGA,{% endif %}
                            {% if beamer.DVI %}DVI,{% endif %}
                            {% if beamer.DB %}DB,{% endif %}
                            {% if beamer.USBTypeC %}USBTypeC,{% endif %}<br>
                            <strong>Status:</strong>
                        {% if beamer.status == 'working' %}
                            Funktionsfähig
                        {% elif beamer.status == 'broken' %}
                            <strong>Defekt</strong>
                        {% else %}
                            -
                        {% endif %}<br>

                            <strong>Garantiedauer:</strong>
                        {% if beamer.warranty_period %}
                            {{ beamer.warranty_period }} Jahre
                        {% else %}
                            -
                        {% endif %}
                        <br>
                            <strong>Einkaufsdatum:</strong> {{ beamer.date_of_purchase|default_if_none:'-' }}<br>
                            <strong>Preis:</strong>
                        {% if beamer.price %}
                            {{ beamer.price}}€
                        {% else %}
                            keine Angabe
                        {% endif %}
                        <br>
                            <strong>Marke:</strong> {{ beamer.brand|default_if_none:'-'}}<br>
                            <strong>Seriennummer: </strong> {{ beamer.serialnumber|default_if_none:'-'}}<br>

                        </a>
                        <div>
                            <a href='/update/beamer/{{ beamer.description }}' class="btn btn-primary">Beamer Eintrag ändern</a>
                            <a href='/delete/beamer/{{ beamer.description }}' class="btn btn-primary">Beamer Eintrag löschen</a>
                        </div>

                    </div>

                {% endfor %}

        </div>
            {% else %}
                <p>Keine Beamer vorhanden.</p>
            {% endif %}
    </div>
{% endblock %}