{% extends "inventory_managementsentials/base.html" %}
{% block title %}Räume Übersicht{% endblock %}
{% block content %}

    <div class="container">
        <header>
            <div class="editor-indent">
                <div class="inner">
                    <h1>Räume Übersicht </h1>
                </div>
            </div>
        </header>
        <div>
            <form method="GET" action="/room/all">
                <input type="text" placeholder="Raum Bezeichnung" name="room_description">
                <button type="submit" class="btn btn-primary">Suchen</button>
                <a href='/add/room/' class="btn btn-primary"style="float:right">Raum hinzufügen</a>
            </form>

        </div>
        <div class="whatever_else_you_need">
            {% if room_list %}
                {% for room in room_list %}
                    <div class="list-group">
                       <h4> <a href="{% url 'inventory_managementsentials:room' room.description %}" class="list-group-itemlist-group-item-action active">Raum {{ room.description }}</a></h4>
                        <a href="#" class="list-group-item list-group-item-action"><strong>Lage: </strong>{{ room.location|default_if_none:"keine Angabe" }}</a>

                    </div>
                {% endfor %}

        </div>
            {% else %}
                <p>Keine Räume vorhanden</p>
            {% endif %}
    </div>
{% endblock %}