{% extends "inventory_managementsentials/base.html" %}
{% block title %}Leinwand Übersicht{% endblock %}
{% block content %}

    <div class="container">
        <header>
            <div class="editor-indent" style="margin-left: 20px; padding: 0 0 0 40px; margin-right: 50px">
                <div class="inner">
                    <h1>Leinwand Übersicht </h1>
                </div>
            </div>
        </header>
        <form method="GET" action="/canvas/all">
                <input type="text" name="canvas_description" placeholder="Leinwand Bezeichnung">
                <button type="submit" class="btn btn-primary">Suchen</button>
                <a href='/add/canvas/' class="btn btn-primary">Leinwand hinzufügen</a>
            </form>
        <div class="whatever_else_you_need">
            {% if canvas_list %}
                {% for canvas in canvas_list %}
                    <div class="list-group">
                        <h4 class="list-group-itemlist-group-item-action active">Leinwand {{ canvas.description }}</h4>
                        <a class="list-group-item list-group-item-action"><strong>Leinwand Format:</strong>
                            {{ canvas.canvas_format }}<br>
                            <strong>Status:</strong>
                        {% if canvas.status == 'working' %}
                            Funktionsfähig
                        {% elif canvas.status == 'broken' %}
                            <strong>Defekt</strong>
                        {% else %}
                            -
                        {% endif %}<br>

                            <strong>Garantiedauer:</strong>
                        {% if canvas.warranty_period %}
                            {{ canvas.warranty_period }} Jahre
                        {% else %}
                            -
                        {% endif %}
                        <br>
                            <strong>Einkaufsdatum:</strong> {{ canvas.date_of_purchase|default_if_none:'-' }}<br>
                            <strong>Preis:</strong>
                        {% if canvas.price %}
                            {{ canvas.price}}€
                        {% else %}
                            keine Angabe
                        {% endif %}
                        <br>
                            <strong>Marke:</strong> {{ canvas.brand|default_if_none:'-'}}<br>
                           <strong>Seriennummer: </strong> {{ canvas.serialnumber|default_if_none:'-'}}<br>

                        </a>
                    <div>
                            <a href='/update/canvas/{{ canvas.description }}' class="btn btn-primary">Leinwand Eintrag Ändern</a>
                            <a href='/delete/canvas/{{ canvas.description }}' class="btn btn-primary">Leinwand Eintrag Löschen</a>
                        </div>
                    </div>
                {% endfor %}

        </div>
            {% else %}
                <p>Keine Leinwande vorhanden.</p>
            {% endif %}
    </div>
{% endblock %}