{% extends "inventory_managementsentials/base.html" %}
{% block title %}SmartBoard Übersicht{% endblock %}
{% block content %}

    <div class="container">
        <header>
            <div class="editor-indent">
                <div class="inner">
                    <h1>SmartBoard Übersicht </h1>
                </div>
            </div>
        </header>
        <form method="GET" action="/smartboard/all">
                <input type="text" name="smartboard_description" placeholder="SmartBoard Bezeichnung">
                <button type="submit" class="btn btn-primary">Suchen</button>
            <a href='/add/smartboard/' class="btn btn-primary"style="float:right">Smartboard hinzufügen</a>
            </form>

        <div class="whatever_else_you_need">
            {% if smartboard_list %}
                {% for smartboardin in smartboard_list %}
                    <div class="list-group">
                        <br>
                        <h4 class="list-group-itemlist-group-item-action active">SmartBoard {{ smartboard.description }}</h4>
                        <a>    <strong>Status:</strong>
                        {% if smartboard.status == 'working' %}
                            Funktionsfähig
                        {% elif smartboard.status == 'broken' %}
                            <strong>Defekt</strong>
                        {% else %}
                            -
                        {% endif %}<br>

                            <strong>Garantiedauer:</strong>
                        {% if smartboard.warranty_period %}
                            {{ smartboard.warranty_period }} Jahre
                        {% else %}
                            -
                        {% endif %}
                        <br>
                            <strong>Einkaufsdatum:</strong> {{ smartboard.date_of_purchase|default_if_none:'-' }}<br>
                            <strong>Preis:</strong>
                        {% if smartboard.price %}
                            {{ smartboard.price}}€
                        {% else %}
                            keine Angabe
                        {% endif %}
                        <br>
                            <strong>Marke:</strong> {{ smartboard.brand|default_if_none:'-'}}<br>
                            <strong>Seriennummer: </strong> {{ smartboard.serialnumber|default_if_none:'-'}}<br>

                        </a>
                    <div>
                            <a href='/update/smartboard/{{ smartboard.description }}' class="btn btn-primary">Smartboard Eintrag ändern</a>
                            <a href='/delete/smartboard/{{ smartboard.description }}' class="btn btn-primary">Smartboard Eintrag löschen</a>
                        </div>
                    </div>
                {% endfor %}


            {% else %}
                <p>Keine SmartBoard vorhanden.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}