{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Übersicht Räume</title>
</head>
<body>
{% if room_list %}
    <ul>
        {% for room in room_list %}
            <li>
                <h2>{{ room.description }}</h2>

                <p><strong>Lage: </strong>
                    {{ room.location|default_if_none:"keine Angabe" }}
                </p>

                <p><strong>Anzahl an Stühle: </strong>
                    {{ room.chair|default_if_none:"keine Angabe" }}
                </p>

                <p><strong>Anzahl an Tische: </strong>
                    {{ room.table|default_if_none:'keine Angabe' }}
                </p>

                <p><strong>Tafel: </strong>
                    {% if room.blackboard %}
                        Vorhanden
                    {% elif room.blackboard == False %}
                        Nicht Vorhanden
                    {%  else %}
                        Keine Angabe
                    {% endif %}
                </p>
                </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No rooms are available.</p>
{% endif %}

</body>
</html>
