{% extends "inventory_managementsentials/base.html" %}
{% block title %}SpeakerSet updaten{% endblock %}
{% block content %}

<div class="container">
    <header>
        <div class="editor-indent" style="margin-left: 20px; padding: 0 0 0 40px; margin-right: 50px">
            <div class="inner">
                <h1>SpeakerSet hinzufügen </h1>
            </div>
        </div>
    </header>


    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Save">
    </form>
</div>
{% endblock %}