{% extends "inventory_managementsentials/base.html" %}
{% block title %}Raum hinzufügen{% endblock %}
{% block content %}
    <div class="container">
        <header>
            <div class="editor-indent">
                <div class="inner">
                    <h1>Raum hinzufügen </h1>
                </div>
            </div>
        </header>

        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Save">
        </form>

    </div>
{% endblock %}